<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.mappers.Inventory2Mapper">

    <select id="selectAllInventory" resultType="kr.or.mes.dto.Inventory2DTO">
        SELECT * FROM Inventory2
    </select>

</mapper>